# Supabase Connection Pooler (IPv4)
DB_HOST=aws-1-eu-central-1.pooler.supabase.com
DB_PORT=6543
DB_NAME=postgres
DB_USER=postgres.eggbqllnmdtwvhcaoiva
DB_PASSWORD=rpsxmeo8912

# Flask
SECRET_KEY=change-this-for-production

# Database
DATABASE_URL=postgresql://postgres.eggbqllnmdtwvhcaoiva:rpsxmeo8912@aws-0-eu-central-1.pooler.supabase.com:6543/postgres

# Supabase Storage - USE SERVICE ROLE KEY
SUPABASE_URL=https://eggbqllnmdtwvhcaoiva.supabase.co
SUPABASE_KEY=sb_secret_TtLjNurzEoelMrz6dhVdUQ_WSlTbCJv

## change 1