# Supabase Connection Pooler (IPv4)
DB_HOST=aws-1-eu-central-1.pooler.supabase.com
DB_PORT=6543
DB_NAME=postgres
DB_USER=postgres.eggbqllnmdtwvhcaoiva
DB_PASSWORD=rpsxmeo8912

# No hostaddr with pooler
# DB_HOSTADDR_V4=
# DB_HOSTADDR_V6=

# Flask
SECRET_KEY=change-this-for-production
